{% extends "base.html" %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'my-listing.css' %}" />


{% block content %}
  <div class="container">


<h2>Overall Rankings (min 20 Games)</h2>


<ul>

<table class="my-listing">
    <tr>
        <th >Name-----------------</th>
        <th >Position-------------</th>
        <th >Mu-------------------</th>
        <th >Sigma----------------</th>
        <th >Winning Percentage---</th>
        <th >Goal Average</th>
    </tr>
    {% for item in players %}
    <tr> 
        <td >{{ item.nickname }}</td>
        <td >{{ item.position }}</td>
        <td >{{ item.mu }}</td>
        <td >{{ item.sigma }}</td>
        <td >{{ item.winnerPercentage }}</td>
        <td >{{ item.goalAverage }}</td>
    </tr>
    {% endfor %}
</table>



</ul>

</div>

{% endblock %}