<!DOCTYPE html>
<html lang="en">
<head>
  <title>Trueskill Last Month</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
</head>
<body>


<div class="container">
  <div class="jumbotron">
    <h1>DAI CST Last Month Trueskill Rankings</h1> 
    <p>Based on an application of the Microsoft Trueskill Algorithm to the data provided by the Daimler 
      <a href="https://kickerlytics.herokuapp.com/">CST Kickerlytics App.</a></p> 
  </div>
  <p>Ranking is for the month of {{ month }} - (View Previous Month </a>) </p> 
</div>

<div class="container">
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>Nickname</th>
        <th>Position</th>
        <th>Skill \( (\mu - 3 \sigma) \)</th>
        <th>Central value for rating \( (\mu) \)</th>
        <th>Uncertainty in rating \( (\sigma) \)</th>
        <th>Winning Percentage</th>
        <th>Goal Average</th>
      </tr>
    </thead>
    <tbody>
    {% for item in players %}
    <tr> 
        <td >{{ item.nickname }}</td>
        <td >{{ item.position }}</td>
        <td >{{ item.skill }}</td>
        <td >{{ item.mu }}</td>
        <td >{{ item.sigma }}</td>
        <td >{{ item.winnerPercentage }}</td>
        <td >{{ item.goalAverage }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

</body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92178387-1', 'auto');
  ga('send', 'pageview');
</script>

</html>
